<div class="mt-5 mb-5">
    <div class="container d-flex home-intro-menu">
        <div class="d-flex flex-row">
            <div class="w-50">
                <h3 class="f-24 text-dark-light fw-500">{{ title }}</h3>
                <p class="f-14 max-w-460 fw-400">
                    Ghé Korean Grill Buffet giật 'mood' những giờ phút cuối cùng kỳ nghỉ lễ 💪
                    Nghỉ lễ vậy là đủ rồi, chơi gì thì cũng đã vui chơi thoả thích, chuẩn bị quay lại với nhịp sống thường nhật thôi nào cả nhà ơii !
                    <br />
                    🥩 Giật mood ngay để lấy đà cho một tuần mới làm việc năng suất bằng cách tự thưởng cho mình một “chầu” buffet VIP thật đã đó nhaaa.
                    Buzza đã sẵn sàng ở đây để cùng bạn kéo mút 💪
                </p>
                <a class="fw-500 f-16 text-red cs-p text-underline mr-4">{{ link }}</a>
                <span>
                    <img src="assets/images/namsan/angle-right-small-red.png" alt="">
                    <img src="assets/images/namsan/angle-right-small-red.png" alt="">
                </span>
            </div>
            <div class="w-50 d-flex gap-4">
                <div><img src="assets/images/namsan/intro-menu-1.png" alt=""></div>
                <div><img src="assets/images/namsan/intro-menu-2.png" alt=""></div>
            </div>
        </div>
    </div>
</div>