<div *ngIf="show" class="bg-overlay-light fixed-top w-100 h-100"></div>

<div
  *ngIf="show"
  class="position-fixed container bg-white border-top-xl h-80 border-r-32 fixed-center index-top p-5"
  style="width: calc(100vw * 538 / 1440)"
>
  <button class="position-absolute" style="top: 0.5rem; right: 0.5rem">
    <div class="h-100">
      <img src="assets/images/Cancel.svg" alt="" />
    </div>
  </button>

  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
    class="container flex-wrap gap-3 d-flex flex-column gap-3"
  >
    <h1 class="fz-36 fw-500 text-default" translate="msg.Otp-1"></h1>
    <h6 class="fz-12 text-grey mt-2" translate="msg.Otp-2"></h6>
    <div class="d-flex gap-3 justify-content-center mt-3">
      <ng-otp-input
        (onInputChange)="handleOtpChange($event)"
        [config]="config"
        class="bg-transparent"
      ></ng-otp-input>
    </div>
    <div *ngIf="errors" class="text-red">{{ errors }}</div>
    <div class="flex-1 mt-5">
      <button
        type="submit"
        class="button button-yellow w-100 text-center py-3 fw-500 fz-16 mb-5"
        translate="COMMON.Continue"
        (click)="onSubmit()"
      ></button>
    </div>
  </form>
</div>
