.footer {
background-color: #fff;
}

.footer-container {
  gap: 100px;
}

.footer-container-left {
  width: calc(100vw * 300 / 1440);
}

.footer-container-items {
  gap: 16px;
}

.footer-container-items h5 {
  text-transform: uppercase;
  margin-top: 32px;
}

.footer-container-items ul {
  gap: 16px;
}

.footer-container-items ul li a {
  color: #262626;
  text-decoration: none;
}

.footer-copyright {
  margin-top: 120px;
  padding-bottom: 36px;
}