<div class="footer ">
  <div class="footer-container container d-flex  justify-content-between align-items-center">
    <div class="footer-container-left d-flex flex-column align-items-center">
      <div routerLink="namsan/home">
        <img src="assets/images/buzza/namsan.png" alt="" />
      </div>
      <h6 class="f-14">
        Tự hào là thương hiệu pizza hương vị Mỹ số 1 Thế giới. Đặt hàng pizza
        online với nhiều ưu đãi hấp dẫn qua website chính thức hoặc hotline 1900
        6000 miễn phí
      </h6>
    </div>

  <div style="flex:1;" class="d-flex w-100 justify-content-between">
    <div class="d-flex flex-column footer-container-items">
      <h5 class="f-14 fw-500">Tuyển dụng</h5>
      <ul class="d-flex flex-column">
        <li>
          <a href="" class="f-12">Khối văn phòng</a>
        </li>
        <li>
          <a href="" class="f-12">Khối phục vụ</a>
        </li>
        <li>
          <a href="" class="f-12">Khối bếp</a>
        </li>
      </ul>
    </div>

    <div class="d-flex flex-column footer-container-items">
      <h5 class="f-14 fw-500">Về chúng tôi</h5>
      <ul class="d-flex flex-column">
        <li>
          <a href="" class="f-12">Giới Thiệu</a>
        </li>
        <li>
          <a href="" class="f-12">Liên Hệ Với Truyền Thông</a>
        </li>
      </ul>
    </div>

    <div class="d-flex flex-column footer-container-items">
      <h5 class="f-14 fw-500">HỆ THỐNG</h5>
      <ul class="d-flex flex-column">
        <li>
          <a href="" class="f-12">Điều Khoản</a>
        </li>
        <li>
          <a href="" class="f-12">Tiếp Thị Liên Kế</a>
        </li>
      </ul>
    </div>

    <div class="d-flex flex-column  footer-container-items">
      <h5 class="f-14 fw-500">Theo dõi</h5>
      <ul class="d-flex flex-column">
        <li>
          <a href="" class="d-flex gap-8">
            <div class="">
              <img src="assets/images/buzza/google.png" alt="" />
            </div>
            <p class="f-12 d-flex align-items-center">Namsanf&b.com</p>
          </a>
        </li>
        <li>
          <a href="" class="d-flex gap-8">
            <div class="">
              <img src="assets/images/buzza/facebook.png" alt="" />
            </div>
            <p class="f-12 d-flex align-items-center">Facebook</p>
          </a>
        </li>

        <li>
          <a href="" class="d-flex gap-8">
            <div class="">
              <img src="assets/images/buzza/instagram.png" alt="" />
            </div>
            <p class="f-12 d-flex align-items-center">Instagram</p>
          </a>
        </li>
      </ul>
    </div>
   </div>
  </div>

  <div class="d-flex w-100 justify-content-between container footer-copyright">
    <h6 class="f-14 ">Copyright © 2022. Buzza Pizza Vietnam | Privacy Policy</h6>
    <a href="" class="f-12 "> CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN </a>
  </div>
</div>
