<div
  *ngIf="show"
  (click)="close()"
  class="bg-overlay-light fixed-top w-100 h-100"
></div>

<div
  *ngIf="show"
  [@fadeInOut]
  class="position-fixed container bg-white border-top-xl h-80 border-r-32 fixed-center index-top p-5"
  style="width: calc(100vw * 538 / 1440)"
>
  <form
    method="POST"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="container flex-wrap gap-3 d-flex flex-column gap-3"
  >
    <h1 class="fz-36 fw-500 text-default" translate="COMMON.Log-in"></h1>
    <h6 class="fz-12 text-grey mt-2" translate="msg.Login-1"></h6>
    <input
      type="tel"
      formControlName="numberphone"
      name="numberphone"
      id="numberphone"
      [placeholder]="'COMMON.NUMBER-PHONE' | translate"
      class="text-default fz-24 border-grey-light-bottom mt-5 px-3 disable-focus hidden-errors bg-transparent"
    />

    <div
      class="position-absolute"
      (click)="close()"
      style="top: 0.5rem; right: 0.5rem"
    >
      <div class="h-100">
        <img src="assets/images/Cancel.svg" alt="" />
      </div>
    </div>

    <div
      *ngIf="submitted && f['numberphone'].errors"
      [ngClass]="{ 'text-red': isErrors }"
      class="text-yellow show-errors"
    >
      <div *ngIf="f['numberphone'].errors['required']">
        {{ "err.Login-1" | translate }}
      </div>
      <div *ngIf="f['numberphone'].errors['pattern']">
        {{ "err.Login-2" | translate }}
      </div>
      <div>{{ msg }}</div>
    </div>
    <div class="flex-1">
      <button
        [ngClass]="{ 'button-disable': f['numberphone'].errors }"
        type="submit"
        class="button button-yellow button-disable w-100 text-center py-3 fw-500 fz-16 mb-5 mt-5"
        translate="COMMON.Continue"
      ></button>
    </div>
  </form>
</div>

<app-otp [show]="showOtp" (emit)="catchEmit($event)"></app-otp>
