<div [@fadeInOut] class="recruitment mt-5 mb-5">
    <div class="container">
        <app-carousel></app-carousel>
        <div class="d-flex mt-5 justify-content-between">
            <div class="block-1 shadow border-10 bg-white d-flex flex-column justify-content-center align-items-center">
                <h4 class="f-20 fw-400 mb-3">{{ marketing }}</h4>
                <div>
                    <img src="assets/images/namsan/FieldTime.png" alt="">
                    <span class="f-16 fw-400">{{ fliedtime }}</span>
                </div>
            </div>
            <div class="description">
                <h2 class="f-20">{{ decsTitle }}</h2>
                <h3>Nghiên cứu thị trường, phát triển sản phẩm:</h3>
                <li>Nghiên cứu, khảo sát thị trường, đối thủ cạnh tranh theo mục tiêu, từ đó đề xuất các phương án xây dựng và phát triển hình ảnh thương hiệu.</li>
                <li>Hoạch định chiến lược marketing ngắn hạn, trung hạn và dài hạn, định vị thương hiệu, thông điệp truyền thông cho các Brand của Nam San F&B.</li>
                <h3>Quản trị Marketing:</h3>
                <li>Phân tích P&L, xây dựng, quản lý và theo dõi ngân sách Marketing cho các thương hiệu;</li>
                <li>Phân tích các yếu tố tăng trưởng của ngành hàng/nhãn hàng từ đó đưa ra các chiến lược phù hợp để gia tăng doanh số.</li>
                <li>Kiểm soát thực hiện 4P: Price, product, place and promotions.</li>
                <h3>Quản trị thương hiệu:</h3>
                <li>Xây dựng và quản lý hình ảnh thương hiệu trên mạng xã hội và các dự án truyền thông nâng cao hình ảnh.</li>
                <li>Phối hợp triển khai các chương trình key windows, chương trình theo mùa, ra mắt các món mới, chương trình kích hoạt thương hiệu thúc đẩy sales.Xây dựng, phân tích & tối ưu vận hành theo insight khách hàng nhằm tăng trải nghiệm của khách hàng.</li>
                <li>Hoạt động Trade Marketing/Digital Marketing</li>
                <li>Lập kế hoạch, triển khai, giám sát các hoạt động Trade Marketing, các kênh truyền thông Digital mới</li>
                <li>Xây dựng, giám sát thực hiện thực hiện việc quản lý vật phẩm, ấn phẩm quảng cáo, hình ảnh, menu, thiết bị hỗ trợ không gian tại nhà hàng.</li>
                <li>Xây dựng và quản trị các chỉ số digital của thương hiệu, quản trị rủi ro và danh tiếng của thương hiệu trên trên các kênh digital.</li>
                <br />
                <h2 class="f-20">{{ req }}</h2>
                <li>Tốt nghiệp Đại học chuyên ngành Marketing, Kinh tế đối ngoại,...</li>
                <li>Tối thiểu 5 năm kinh nghiệm ở vị trí Trưởng phòng Marketing, Quản lý thương hiệu, ưu tiên kinh nghiệm trong ngành F&B, FMCG, Retail.</li>
                <li>Có kiến thức tổng hợp về xã hội - thị trường, quảng cáo, truyền thông online, offline.</li>
                <li>Chuyên sâu về phân tích online website và Google Adwords.</li>
                <li>Có kiến thức và kinh nghiệm về phân tích, đo lường Customer insight.</li>
                <li>Giao tiếp Tiếng Anh tốt.</li>
                <li>Kỹ năng Leadership và quản lý tổ chức tốt.</li>
                <br />
                <h2 class="f-20">{{ interest }}</h2>
                <li>Mức lương thỏa thuận theo năng lực.</li>
                <li>Cơ hội phát triển trong môi trường chuyên nghiệp, là tập đoàn F&B lớn nhất Việt Nam.</li>
                <li>Lộ trình thăng tiến rõ ràng, đầy đủ chế độ phúc lợi theo Luật quy định.</li>
                <li>Được giảm giá khi sử dụng dịch vụ tại hơn 200 nhà hàng thuộc Nam San F&B.</li>

                <div class="application shadow bg-white border-20 d-flex justify-content-center">
                    <form action="">
                        <h3 class="f-24 mt-5 mb-3">{{ application }}</h3>
                        <div class="form-group mb-3 d-flex flex-column">
                            <label class="f-16 fw-400" for="fullname">{{ fullname }}</label>
                            <input id="fullname" type="text" name="fullname" placeholder="{{ fullname }}">
                        </div>
                        <div class="form-group mb-3 d-flex flex-column">
                            <label class="f-16 fw-400" for="email">{{ email }}</label>
                            <input id="email" type="text" name="email" placeholder="{{ email }}">
                        </div>
                        <div class="form-group mb-3 d-flex flex-column">
                            <label class="f-16 fw-400" for="phone">{{ phone }}</label>
                            <input id="phone" type="text" name="phone" placeholder="{{ phone }}">
                        </div>
                        <div class="form-group mb-3">
                            <input type="file">
                        </div>
                        <button class="border-20 bgc-yellow text-w f-24 fw-500 mb-5 mt-3">{{ application }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>