<div [@fadeInOut] class="voucher mt-3 mb-5">
  <div class="container">
    <div class="d-flex align-items-center gap-56 mb-5">
      <div class="d-flex mb-5 flex-column flex-7">
        <div class="d-flex gap-3 text-grey-light fw-400 mb-4">
          <span>Trang chủ</span>
          <div class="h-100">
            <img
              src="assets/images/angle-right.svg"
              class="trans-y-10"
              alt=""
            />
          </div>
          <span>Đơn hàng</span>
        </div>
        <div class="d-flex gap-56">
          <div>
            <app-profile-user></app-profile-user>
          </div>

          <div class="flex-1 position-relative">
            <div
              class="shadow p-4 mb-4 bg-white d-flex justify-content-between border-r-15"
            >
              <div class="d-flex gap-3 align-items-center">
                <div class="fz-16 text-default fw-400">Tổng điểm của bạn</div>
                <img
                  src="assets/images/star.svg"
                  alt=""
                  class="trans-y-10 sz-28"
                />
                <div class="text-yellow fz-30 fw-500">2,223</div>
              </div>

              <div class="d-flex gap-2 align-items-center">
                <div class="text-yellow fw-500 fz-16">Tích thêm điểm</div>
                <img src="assets/images/angle-right-small-yerlow.svg" alt="" />
              </div>
            </div>

            <div class="shadow p-4 bg-white border-r-15">
              <div class="d-flex justify-content-between mb-4">
                <h6 class="fz-20 text-default fw-400">Chính sách điểm 2022</h6>
                <div class="d-flex gap-2 align-items-center">
                  <div class="text-yellow fw-500 fz-16">Đổi điểm</div>
                  <img
                    src="assets/images/angle-right-small-yerlow.svg"
                    alt=""
                  />
                </div>
              </div>

              <div class="d-flex gap-4">
                <div class="d-flex flex-column gap-2 flex-1">
                  <img src="assets/images/sushi-rewards.png" alt="" />
                  <h6 class="text-default fw-400 fz-12">
                    <strong> Korean Grill – TTTM NOWZONE:</strong> Tầng 4 – TTTM
                    NOWZONE: 235 Nguyễn Văn Cừ, Phường Nguyễn Cư Trinh, Quận 1.
                  </h6>

                  <h6 class="text-default fw-400 fz-12">
                    <strong> Korean Grill – TTTM NOWZONE:</strong> Tầng 4 – TTTM
                    NOWZONE: 235 Nguyễn Văn Cừ, Phường Nguyễn Cư Trinh, Quận 1.
                  </h6>
                </div>

                <div class="flex-2">
                  <div class="container">
                    <h6 class="fz-16 text-default fw-500">
                      Chính sách điểm 2022
                    </h6>

                    <div class="d-flex flex-column gap-1">
                      <h6 class="text-danger fz-16">*Áp dụng tại cửa hàng</h6>
                      <h5 class="fz-20 fw-500 text-default mb-3">
                        MỜI BẠN THÂN 10% TOÀN BỘ HÓA ĐƠN
                      </h5>
                    </div>

                    <div>
                      <h5 class="fz-16 text-default text-grey fw-light">
                        <strong>MUA MANG VỀ: </strong>Mua 1 tặng 1 khi mua mang
                        đi hoặc đặt giao hàng
                      </h5>
                      <ul class="fz-16 text-default mt-2 pl-1">
                        <li class="fz-16 text-grey">
                          - Ưu đãi áp dụng tặng pizza nhóm classic khi mua 1
                          pizza bất kì. Hoặc tặng pasta khi mua 1 pasta.
                        </li>
                        <li class="fz-16 text-grey">
                          - Món tặng bằng hoặc thấp hơn giá món mua..
                        </li>
                        <li class="fz-16 text-grey">
                          - Ưu đãi khi gọi kèm 1 nước ngọt/ món mua..
                        </li>
                      </ul>
                    </div>

                    <div class="mt-3">
                      <h5 class="fz-16 text-default text-grey fw-light">
                        <strong>LƯU Ý CHƯƠNG TRÌNH</strong>
                      </h5>
                      <ul class="fz-16 text-default mt-2 pl-1">
                        <li class="fz-16 text-grey">
                          - Không áp dụng lễ/tết theo thông báo của nhà hàng
                        </li>
                        <li class="fz-16 text-grey">
                          - Không áp dụng cùng các CTKM khác/tách bill/ tách
                          bàn.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="shadow p-4 bg-white border-r-15 mt-4">
              <div class="d-flex justify-content-between mb-4">
                <h6 class="fz-20 text-default fw-400">Mở khóa thẻ Vàng</h6>
                <div class="d-flex gap-2 align-items-center">
                  <div class="text-default fw-500 fz-16">
                    Đạt 2,223/3000 điểm để mở khóa thẻ vàng
                  </div>
                </div>
              </div>

              <div
                class="d-flex justify-content-between bg-rewards flex-wrap mb-4 container"
              >
                <div
                  class="d-flex justify-content-between w-100 p-4 index-middle"
                >
                  <div class="h-100 d-flex">
                    <img src="assets/images/achive-siver.png" alt="" class="" />
                  </div>

                  <div class="rating-rewards w-100 px-4">
                    <h6 class="fz-16 text-default fw-500 text-center">Bạc 2</h6>


                    <div class="h-100 index-2 index-middle position-relative">
                      <img
                        src="assets/images/rewards-profile.png"
                        alt=""
                        style="transform: translateY(25%)"
                        class="position-absolute bottom-0"
                      />
                    </div>
                    <div class="h-100 index-2 index-middle position-relative">
                      <img
                        src="assets/images/rewards-brozon.png"
                        alt=""
                        style="transform: translateY(25%)"
                        class="position-absolute bottom-0"
                      />
                    </div>
                    <div class="h-100 index-2 index-middle position-relative">
                      <img
                        src="assets/images/rewards-silver.png"
                        alt=""
                        style="transform: translateY(25%)"
                        class="position-absolute bottom-0"
                      />
                    </div>
                    <div class="h-100 index-2 index-middle position-relative">
                      <img
                        src="assets/images/rewards-golden.png"
                        alt=""
                        style="transform: translateY(25%)"
                        class="position-absolute bottom-0"
                      />
                    </div>
                    <div class="h-100 index-2 index-middle position-relative">
                      <img
                        src="assets/images/rewards-final.png"
                        alt=""
                        style="transform: translateY(25%)"
                        class="position-absolute bottom-0"
                      />
                    </div>
                    <div class="percent-rewards" style="width: 74.1%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
