
    <div class="bg-light pt-4 pb-5">
        <div class="text-center mb-64">
            <p class="pt-3 text-grey-light f-24 fw-500">Các kênh liên hệ của công ty Nam San F&B</p>
        </div>
        <div class="contact d-flex justify-content-center text-center">
            <div class="contact-list">
                <img src="assets/images/namsan/phone.png" alt="">
                <h4 class="f-26 fw-500 text-grey mb-3 mt-2">Hỗ trợ dịch vụ</h4>
                <p class="f-16 fw-400 text-grey-light">Hãy liên hệ tới tổng đài hỗ trợ dịch vụ của chúng tôi tại Hotline: 1900989808</p>
            </div>
            <div class="contact-list">
                <img src="assets/images/namsan/email.png" alt="">
                <h4 class="f-26 fw-500 text-grey mb-3 mt-2">Email chúng tôi</h4>
                <p class="f-16 fw-400 text-grey-light">buzzaservice1@gmail.com</p>
            </div>
            <div class="contact-list">
                <img src="assets/images/namsan/office.png" alt="">
                <h4 class="f-26 fw-500 text-grey mb-3 mt-2">Văn phòng chúng tôi</h4>
                <p class="f-16 fw-400 text-grey-light">51-53 Nguyễn Thị Thập, Phường Tân Hưng, Quận 7, Thành Phố Hồ Chí Minh, Việt Nam.</p>
            </div>
        </div>
    </div>
