<div [@fadeInOut] class="home mt-3">
  <div class="home-container container">
    <!-- Banner -->
    <app-carousel></app-carousel>


    <!-- news-slides -->
    <app-news-slides></app-news-slides>

    <!-- Intro booking -->
    <app-banner></app-banner>

    <!-- intro menu -->
    <app-intro-menu></app-intro-menu>

  </div>
  <!-- intro contact -->
  <app-intro-contact></app-intro-contact>

  <!-- home contact -->
  <app-home-contact></app-home-contact>

  <!-- download -->
  <app-download></app-download>
</div>