<div class="d-flex flex-column gap-20">
    <div class="voucher-item d-flex border-20 bg-white align-items-center shadow" *ngFor="let item of voucherDisable">
        <div class="voucher-left p-3 position-relative">
            <img [src]="item.src" alt="">
        </div>
        <div class="line ms-3 me-4"></div>
        <div class="voucher-right ">
            <h3 class="f-24 fw-500 line-height-32 text-grey-light">{{ item.title }}</h3>
            <p class="f-14 fw-400 text-red my-3">{{ item.text }}</p>
            <h5 class="f-16 fw-400 line-height-24 text-grey-light">{{ item.expiry }}</h5>
        </div>
    </div>
</div>