<div [@fadeInOut] class="news mt-5 mb-5">
    <div class="container">
        <div>
            <img src="assets/images/buzza/img-news.png" alt="">
        </div>
        <div class="mt-5 mb-5">
            <h2 class="f-30 fw-500 text-dark-light mb-5">Món mới đã sẵn sàng, mời bạn ghé thưởng thức!!</h2>
            <h4 class="f-24 fw-400 text-dark-light mb-4">Cùng Buzza Pizza chào đón người bạn mới “Seafood Platter”</h4>
            <p class="f-16 fw-400 text-grey mb-5">Được lấy cảm hứng từ nền ẩm thực xứ Texas, mang trong mình hương vị tươi mát của biển cả, kết hợp cùng các hương vị cay nồng của Việt Nam. Nổi bật hơn hết là Tôm Càng xanh...Được lấy cảm hứng từ nền ẩm thực xứ Texas, mang trong mình hương vị tươi mát của biển cả, kết hợp cùng các hương vị cay nồng của Việt Nam. Nổi bật hơn hết là Tôm Càng xanh...Được lấy cảm hứng từ nền ẩm thực xứ Texas, mang trong mình hương vị tươi mát của biển cả, kết hợp cùng các hương vị cay nồng của Việt Nam. Nổi bật hơn hết là Tôm Càng xanh...</p>
            <div class="line mb-3"></div>
            <p class="f-16 fw-400 text-grey mb-5">Mách nhỏ: Vì số lượng giới hạn, đừng quên đặt bàn trước 3 tiếng để Buzza có thể chuẩn bị cho bạn tốt hơn.</p>
            <div class="d-flex mb-3">
                <img src="assets/images/buzza/location-grey.png" alt="">
                <h5 class="f-16 fw-400 text-grey ms-2">Tầng 1, 51 - 53 Nguyễn Thị Thập, P. Tân Hưng,  Quận 7, TP. HCM</h5>
            </div>
            <div class="d-flex">
                <img src="assets/images/buzza/location-grey.png" alt="">
                <h5 class="f-16 fw-400 text-grey ms-2">Tầng 4 Nowzone, 235 Nguyễn Văn Cừ, P. Nguyễn Cư Trinh, Quận 1, TP. HCM</h5>
            </div>
            <div class="mt-5 mb-5"><app-news-slides></app-news-slides></div>
        </div>
    </div>
</div>